@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;700&display=swap");
@import url("//db.onlinewebfonts.com/c/79f12f40967a6371bc5b83c1584fb017?family=BadaBoom+BB");

body {
  font-family: "Spartan", sans-serif;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.mb {
  margin-bottom: 1rem;
}
.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-hint {
  opacity: 0;
  height: 60px;
  width: 400px;
  border-radius: 10px;
  background-color: #fab837;
  padding: 5px;
  transition: opacity 0.2s ease;
}

.game-hint.show {
  opacity: 100;
}
.game-hint-wrapper {
  padding: 0 10px;
  background-color: #ffffff;
  height: 100%;
  border-radius: 10px;
}

.game-hint-icon {
  margin-right: 1rem;
}

.game-hint-text {
  font-size: 12px;
  font-weight: bold;
  word-wrap: break-word;
}

.btn {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  transition: transform 150ms ease;
}

.btn:active {
  transform: scale(0.99);
}

.btn--action {
  background-color: #fab837;
  box-shadow: 0px 5px 0px #d1941c;
  width: 200px;
  height: 65px;
  position: relative;
  overflow: hidden;
}

.btn--action > svg {
  display: flex;
  position: absolute;
  width: 210px;
  height: 75px;
}

.btn--action > svg > path {
  fill: rgba(255, 255, 255, 0.3);
}

.btn--action-text {
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  font-family: "BadaBoom BB";
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d1941c;
}

.btn--timer {
  width: 170px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 5px 0px #bdbdbd;
}

.btn--check,
.btn--hint,
.btn--hover {
  background-color: #fab837;
  box-shadow: 0px 5px 0px #d1941c;
}

.btn--hover {
  margin-bottom: 10px;
}

.btn--hover-check {
  height: 60px;
  width: 140px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.btn--setting {
  background-color: #ed1b33;
  box-shadow: 0px 5px 0px #cb1025;
}

.btn--icon {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 3;
}

.btn--social > img {
  height: 25px;
}

.btn--social {
  width: 40px;
  height: 40px;
}

.btn--facebook {
  background-color: #3b5998;
  box-shadow: 0px 5px 0px #335192;
}
.btn--twitter {
  background-color: #00acee;
  box-shadow: 0px 5px 0px #0091c9;
}
.btn--whatsapp {
  background-color: #25d366;
  box-shadow: 0px 5px 0px #17a94e;
}

.header {
  background-color: #4f4f4f !important;
  color: #ffffff;
  font-size: 18px;
  padding: 0 1rem;
}

.header-wrapper {
  height: 50px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.header-wrapper-intro {
  justify-content: center;
}

.icon-wrapper {
  flex: 1;
}

.icon-text {
  margin-left: 10px;
}

.tools {
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 1rem;
}

.timer {
  position: relative;
  z-index: 10;
}

.timer-count-wrapper {
  width: 120px;
  height: 50px;
  background-color: #dbdbdb;
  border-radius: 6px;
}

.timer-count {
  font-weight: bold;
  font-size: 18px;
  color: #4f4f4f;
  text-transform: uppercase;
}

.timer-count.paused {
  color: red;
}

.timer-icon {
  height: 20px;
  width: 20px;
}

.timer-icon.paused {
  width: 18px;
  height: 18px;
}

.action {
  flex-basis: 230px;
  justify-content: space-between;
  position: relative;
}

.action-intro {
  flex: 1;
  justify-content: flex-end;
}

.action-hover {
  top: -1300px;
  height: 500px;
  position: absolute;
  z-index: 90;
  transition: top 0.3s ease;
}

.action-hover--check {
}

.action-hover--setting {
  right: 0;
  display: flex;
  flex-direction: column;
}

.action-hover--check.show,
.action-hover--setting.show {
  top: 80px;
}

.action > button > img {
  height: 60px !important;
}

.hover-btn > img {
  height: 60px;
  margin-bottom: 10px;
}

#game {
  display: flex;
  justify-content: center;
}

#board {
  width: 50%;
  background-color: white !important;
  top: 150px !important;
  left: 25%;
  /* display: none; */
}

@media all and (max-width: 480px) {
  #board {
    top: 150px !important;
  }
}

@media all and (min-width: 600px) {
  #board {
    width: 50% !important;
    bottom: 0;
  }

  #content {
    max-width: 100%;
  }
}

.clue_text {
  font-size: 16px;
  line-height: 24px;
  padding-left: 5px;
  display: block;
}

#clue_list {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  top: 150px;
  height: calc(100vh - 150px);
  /* hei */
  /* height: 100%; */
}

.clue_list_wrapper {
  width: 25%;
  height: 100%;
}

.clue_list_label {
  font-weight: bold;
  height: 60px;
  font-size: 18px;
  text-align: center;
}

.clue_highlight {
  background: #ffcd6c;
}

#across_list,
#down_list {
  top: 60px;
}

#crossword {
  background-image: linear-gradient(#28a2ca, #1f8ab9);
}

#crossword.disabled::after {
  z-index: 999;
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.pause-modal {
  z-index: 1000;
  padding: 1rem;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 4px solid #33bedc;
  align-items: center;
  justify-content: center;
  transition: top 0.3s ease;
}

.pause-modal.show {
  top: 50%;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.modal-btn {
  margin-bottom: 1rem;
}

.modal-btn-small {
  width: 130px;
  height: 65px;
  background-color: #fab837;
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
}

#intro {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #2191be;
  background-image: linear-gradient(#28a2ca, #1f8ab9);
}

.intro-content {
  align-self: center;
  margin: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.intro-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.btn--start {
  margin-top: 2rem;
}

#result {
  display: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2191be;
  background-image: linear-gradient(#28a2ca, #1f8ab9);
}

.result-content {
  /* align-self: center;
  margin: auto !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.result-logo {
  height: 100px;
  display: flex;
  align-items: center;
}

.result-logo > img:first-child {
  height: 66px;
}

.result-logo > img:last-child {
  height: 26px;
}

.scoreboard-wrapper {
  background-color: #33bedc;
  width: 520px;
  height: 380px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.scoreboard {
  border-radius: 10px;
  background-color: #ffffff;
  width: 500px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scorewrapper {
  display: flex;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

.score p,
.timewrapper p,
.share p {
  font-size: 18px;
  font-weight: bold;
}

.score p.point,
p.timeresult {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}

p.timeresult {
  color: #00acee;
}

.timewrapper,
.share {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  width: 250px;
  margin-top: 1rem;
  justify-content: space-between;
}
